.git*            export-ignore
.gitattributes  -export-ignore
.hooks*          export-ignore

/GitSetup        export-ignore
/*.sh            export-ignore eol=lf
/*.bash          export-ignore eol=lf
/.clang-format   export-ignore

*.c              whitespace=tab-in-indent
*.h              whitespace=tab-in-indent
*.h.in           whitespace=tab-in-indent
*.cxx            whitespace=tab-in-indent
*.hxx            whitespace=tab-in-indent
*.hxx.in         whitespace=tab-in-indent
*.txt            whitespace=tab-in-indent
*.cmake          whitespace=tab-in-indent

*.rst            whitespace=tab-in-indent conflict-marker-size=79
